/*
CAB230 Web Computing Assignment 1
Author: Heath Mayocchi n9378201
*/

/* This is so the padding and borders don't add to an elements size */
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* Global button styling using a class*/
.button {
	color: #fff;
	text-align: center;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
	margin: 0;
	padding: 5px 7px;
	outline: none;
	border: solid 1px #0076a3;
  background-color: #3167c3;
	background: #3167c3;
	/* These are for compatability */
	background: -webkit-gradient(linear, left top, left bottom, from(#568fe4), to(#1b56af));
	background: -moz-linear-gradient(top,  #568fe4,  #1b56af);
}
.button:hover {
	text-decoration: none;
	background: #007ead;
	background: -webkit-gradient(linear, left top, left bottom, from(#285bb9), to(#173469));
	background: -moz-linear-gradient(top,  #285bb9,  #173469);
}
.button:active {
	text-decoration: none;
	background: #007ead;
	background: -webkit-gradient(linear, left top, left bottom, from(#173469), to(#0e1f3f));
	background: -moz-linear-gradient(top,  #173469,  #0e1f3f);
}

/* Global border with rounded edges */
.rBorder {
	border-top-left-radius: 5px 5px;
	border-bottom-left-radius: 5px 5px;
	border-top-right-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
}

/* Global link style */
a:link, a:visited {
    color: #002fcd;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    /* color: #02103F; 2456FC*/
}
a:active {
    color: #02103F;
	font-weight: bold;
}

/* Validation error messages */
.validateError {
	color: #ff0000;
	font-size: 14px;
	font-style: italic;
}

/* Login text boxes */
.loginText {
	margin-top: 5px;
	margin-bottom: 2px;
	max-width: 170px;
	width: 100%;
}

/* Dropdown menu */
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdownContent {
	z-index: 1;
	overflow: auto;
	margin-top: -10px;
  max-height: 300px;
  min-width: 160px;
	background-color: #3a7cdf;
	padding: 5px;
	color: #ffffff;
	box-shadow: 5px 5px 10px #333333;
	border: single 3px #000000;
}
.dropdownContent a {
	color: #ffffff;
    padding: 5px 16px;
    text-decoration: none;
    display: block;
}
.dropdownContent a:hover {
	background-color: #f1f1f1;
	color: #000000;
}
.suburbContent {
    display: none;
    position: absolute;
	left: 120px;
	top: 22px;
}
.ratingContent{
    display: none;
    position: absolute;
	left: 120px;
	top: 68px;
}
.ratingdropbtn {
	margin-top: 15px;
}
/* Toggle display for dropdown */
.show {
	display: block;
}
/* Map box */
.reMap {
    border-width:5px;
    border-style:groove;
	border-color: #1b56af;
    margin-left: auto;
    margin-right: auto;
	min-height: 300px;
	height: 100%;
	margin-top: 10px;
	margin-bottom: 5px;
	background-color: #7ba7ea;
	padding: 5px;
	max-width: 500px;
	width: 100%;
	height: 100%;
}

/* Global table styling */
table, th, td {
    border: 1px solid #000000;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
table#results {
    width: 100%;
    background-color: #ebf4fa;
	margin-bottom: 20px;
}

/*
 * Wrapper contains all elements on the page, minimum
 * width set to 768 pixels to give a full view on most tablets
*/
#wrapper {
	max-width: 1000px;
	min-width: 768px;
	margin-left: auto;
	margin-right: auto;
	font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 0;
  background-color: #ffffff;
}

/* Overlay for popup boxes */
#overlay {
	position:fixed;
	top:0;
	left:0;
	background:rgba(0,0,0,0.6);
	z-index:5;
	width:100%;
	height:100%;
	display:none;
}

/*
 * Header
 */
#header {
	position: relative;
	height: 99px;
	background-color:#c3dfef;
}

/* Logo */
#logo img{
	float: left;
	margin-left: 10px;
	width: 150px;
}

/* Closest WiFi search button */
#closestWiFi {
	position: relative;
	top: 35px;
	left: 8%;
}

/* Map popup box */
#mapBox {
	clear: both;
	display: none;
	position: relative;
	top: -30px;
	margin-left: auto;
	margin-right: auto;
	z-index: 10;
	background-color: #7ba7ea;
	padding: 5px;
	max-width: 650px;
	width: 100%;
	max-height: 450px;
	height: 500%;
	box-shadow: 5px 5px 10px #333333;
	border: double 3px #000000;
}

/* Search box text and button */
#mainSearch {
	position: absolute;
	top: 50px;
	left: 50%;
}
/* Searchbox text */
#searchText {
	padding: 5px;
	font-size: 14px;
	color: #666;
	border: 1px solid #0076a3; border-right:0 px;
	border-top-left-radius: 5px 5px;
	border-bottom-left-radius: 5px 5px;
	min-width: 220px;
}
/* Search submit button */
#searchSubmit {
	border-top-left-radius: 0px 0px;
	border-bottom-left-radius: 0px 0px;
}
/* Fixes submit button height problem in Firefox */
#searchSubmit::-moz-focus-inner {
	border: 0;
}
/* Search error message */
#searchError {
	visibility: hidden;
	position: relative;
	left: 7px;
	padding-top: 0px;
}

/* Welcome message */
#welcome {
	color: #1b56af;
	font-weight: bold;
	position: absolute;
	top: 5px;
	right: 5px;
}

/* User links: Sign up / Login */
#userlinks {
	position: absolute;
	right: -5px;
	top: 60px;
	padding-right: 10px;
	text-align: right;
	font-size: 11pt;
}

/* Login popup box */
#loginPopup {
	display: none;
	position: absolute;
	top: 100px;
	right: 5%;
	z-index: 10;
	min-width: 175px;
	min-height: 150px;
	background-color: #7ba7ea;
	padding: 5px;
	color: #ffffff;
	box-shadow: 5px 5px 10px #333333;
	border: double 3px #000000;
}
#loginPopup a{
    text-decoration: none;
	position: relative;
	top: -4px;
	float: right;
	color: #ff0000;
	font-weight: bold;
}
#loginSubmit {
	margin-top: 2px;
}
#loginEmailError {
	visibility: hidden;
}
#loginPassError {
	visibility: hidden;
}

/*
 * Sidebar
 */
#sidebar {
  float: left;
	position: relative;
	left: -150px;
  margin-right: -150px;
  margin-left: 10px;
}
#sidebar button{
	min-width: 125px;
}

/*
 * Main body
 */
#section {
  min-width: 600px;
	max-width: 850px;
	min-height: 200px;
	position: relative;
  margin-left: 158px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 5px;
  background-color: #ebf4fa;
	padding: 5px;
}
#section h4 {
	margin-bottom: 0px;
}
#section img {
	margin-top: 5px;
}

/*
 * Index page
 */
#reviewSection h3{
	margin-top: 10px;
	text-decoration: underline;
}
#reviewSection a{
	padding-bottom: -10px;
}
#reviewSection p{
	margin-top: 5px;
}

/*
 * Location review page
 */
#reviewHotspot {
	text-align: center;
}
#reviewHotspot h3{
	margin-bottom: -10px;
}
#reviewHotspot h4{
	margin-bottom: -20px;
}

/*
 * Write a review page
 */
#writeReview {
	text-align: center;
}
#writeReview h4{
	margin-top: -10px;
}
#commentError {
	visibility: hidden;
	margin-top: -5px;
}
#ratingError{
	visibility: hidden;
	margin-top: -5px;
}
#hotspotError{
	visibility: hidden;
	margin-top: -5px;
}
#selectHotspot {
	margin-top: -5px;
	font-size: 15px;
	background-color: #f1f1f1;
	padding: 2px;
	color: #000000;
	border: groove 2px #000000;
}
#comments {
	margin-top: -5px;
}
#writeReview button{
	min-width: 125px;
	margin-bottom: 10px;
}
#newReview {
	position: absolute;
	left: 250px;
	bottom: 5px;
	min-width: 125px
}

/*
 *	Signup page
 */
#registration h2{
	text-align: center;
}
/* Text box width */
.signupText {
	width: 190px;
}
/*  Title, box and error messages */
.signupRow {
    display: flex;
}
.signupLeft {
	position: relative;
  left: 18%;
}
.signupRight {
	position: absolute;
  right: 15%;
}
#fnameMissing {
	visibility: hidden;
}
#lnameMissing {
	visibility: hidden;
}
#dobMissing {
	visibility: hidden;
}
#postcodeMissing {
	visibility: hidden;
}
#emailMissing {
	visibility: hidden;
}
#confirmEmailMissing {
	visibility: hidden;
}
#passwordMissing {
	visibility: hidden;
}
#confirmPass {
	visibility: hidden;
}
#SignupStyle {
  margin-top: 20px;
  margin-bottom: 10px;
	position: relative;
	left: 43%;
}
#signUp {
	text-align: center;
	min-width: 125px;
}

/*
 * Footer
 */
#footer {
	height: 50px;
	margin-left: auto;
	margin-right: auto;
  margin-bottom: 0;
	background-color:#c3dfef;
}
#footer p{
  float: left;
  position: relative;
  left: 10px;
  bottom: 5px;
}
#footer a{
	position: relative;
	top: 55%;
	float: right;
	padding-right: 10px;
	font-size: 11pt;
}
